@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* base style*/
*{
  margin:0;
  padding:0;
  font-family:"Montserrat",Sans-Serif;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  background-color: white;
}

/* Header */

.hero-page{
  min-height:100vh;
  width:100%;
  place-items: center;
  position:relative;
}

.nav{
  position:sticky;
  top:0;
  height:55px;
  width:100%;
  display: flex;
  justify-content:space-between;
  align-items:center;
  padding:1rem 1rem  1rem 1rem;
  background-color:white;
  z-index:10;
  font-weight: 600;
}

.logo{
  position:relative;
  left:10px;
  height:3.5rem;
  width:auto;
}
.hamburger{
  border:none;
  height:55px;
  background-color:white;
  width:55px;
  overflow:hidden;
  border-radius:13px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-family:"Poppins",Sans-Serif
  font-weight:400;
}

.mobile-links{
  position:fixed;
  display:none;
  inset:0;
  background:#fff;
  background:#fff;
  z-index:5;
  opacity:0;
  transform: translateY(-10px);
  animation: fadeIn 0.5s ease forwards;
  flex-direction: column;
  min-height:100vh;
}

.mobile-links li{
  list-style: none;
  line-height:1.4;
  letter-spacing: -0.9px;
  margin-top:1rem;
  width:100%;
}
.mobile-links a{
  text-decoration: none;
  color:black;
  line-height: 1.5;
  font-size: 1.2em;
  font-family:Sans-Serif;
  font-weight:500;
}
.mobile-links a::after{
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top:1rem;
  background: black;
}
.links{
  margin-top:5rem;
  height: auto;
  width:100%;
  padding:0 2.2rem;
  flex:1;
  justify-content: center;
}
.nav-links{
  color:black;
  list-style: none;
  border-radius:3px;
  background-color:white;
  display:none;
}
.nav-links li{
  display:block;
}
.nav-links a{
  text-decoration: none;
  color:black;
  line-height: 1.5;
  font-family:Sans-Serif;
  font-weight:500;
}
.desktop-btn{
  display:none;
  border: none;
  width:130px;
  height:35px;
  font-size:0.9rem;
  border-radius:8px;
  background-color:green;
  color:white;
  padding:0.5rem 0.25rem;
  font-weight:600;
  flex:0 0 auto;
  justify-content: center;
}
.app-btn-wrapper{
  display:flex;
  justify-content: center;
}
.btn{
  border:none;
  border-radius: 14px;
  position: relative;
  margin-bottom:2.7rem;
  background-color:green;
  color:white;
  padding:0.5rem;
  height:3rem;
  font-size: 1.2rem;
  font-weight:600;
  width:90%;
}

.hero-bg {
  min-height: 100vh;
  width:100%;
  position:relative;
  top:0;
  background: url("./assets/bg.jpg") center/cover no-repeat;
  z-index: 2;
}
.bg-layer{
  content="";
  position: absolute;
  inset:0;
  background:rgb(0,0,0,0.6);
  
  z-index:3;
}
.hero-page .text{
 position: absolute;
 z-index: 4;
 top:17em;
 padding:1.5rem;
 color:white;
 font-family: Montserrat,Sans-Serif;
}
.hero-page .text h1{
  font-size: 2.3rem;
  text-align:center;
  letter-spacing:-0.07rem;
  line-height:1.3;
  font-weight:900;
}
.hero-page .text p{
  margin-top:1rem;
  font-size: 1rem;
  text-align:center;
  line-height:1.3;
  font-weight:400;
}
.hero-page .get-started-btn-wrapper{
  display:flex;
  justify-content: center;
  width:100%;
  position: absolute;
  margin-top:2.8rem;
  top: 32rem;
  height:auto;
  z-index: 4;
}
.hero-page .get-started-btn{
  border:none;
  border-radius: 14px;
  position: absolute;
  background-color:#ffff;
  color:rgb(0,0,0,0.6)
  padding:0.5rem;
  height:3rem;
  font-size: 1.2rem;
  font-weight:700;
  width:90%;
}
/* section for swift glance*/
.swift-glance{
  margin-top:2rem;
  padding:2rem;
  height:auto;
}
.swift-glance .text{
  position: relative;
  text-align:center;
  padding:0.5rem 0.5rem;
}
.swift-glance .text h1{
  color:rgb(12,194,120);
  font-size:2.5em;
  letter-spacing: -1px;
}
.swift-glance .text p{
  margin-top:0.8rem;
}
.counters{
  padding:1rem;
  height:auto;
  display:flex;
  flex-wrap:wrap;
  gap:15px;
  justify-content: center;
}
.counter{
  height:8rem;
  width:18rem;
  flex:0 0 19rem;
  border-radius:10px;
  box-shadow:0 0 3px rgb(0,0,0);
  margin:1rem;
  padding: 2rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align:center;
}
.card h1{
  font-weight:700;
}
.card p{
  margin-top:0.6rem;
}



/* responsiveness for desktop */

@media (min-width:768px){
  .hero-page{
    min-height:100vh;
  }
  .hero-bg{
    min-height:100vh;
  }
  .mobile-links{
    display:none !important;
  }
  
  .nav-links{
    display:flex;
    gap:1rem;
  }
  .desktop-btn{
    display:flex;
  }
  .hamburger{
    display:none;
  }
  .hero-page .get-started-btn{
    width:20%;
  }
  
  .swift-glance .counter{
    flex:1 0 calc(50%-10px);
  }
}

/* animations */
@keyframes fadeIn{
  to{
    opacity:1;
    transform: translateY(0);
  }
}
